<div ng-controller="ProfileController as profile">
	<div class="ui main text">
		<div class="ui">
				<center>
					<h2 class="ui header">Welcome to Knotty Tie Co!</h2>
					<h3 class="ui header">Custom wedding ties, bow ties, and pocket squares made just for you.</h3>

					<br/>
					<div class="twelve wide column centered">
						<div class="ui container">
							<img class="ui fluid rounded image" src="./assets/wedding-photo.png">
							<br/>
							<p>We'll start by asking a few simple questions to find your style.</p>
							<button class="ui positive button" ui-sref="create-profile-step-1">I'm Ready</button>
						</div>
					</div>
				</center>
			</div>
		</div>
	</div>
</div>