	<div ng-controller="ProfileController as profile">
		<div class="ui container grid">
			<div class="ui stackable row">
				<div class="ui sixteen wide centered column">
					<center>
						<div class="ui segment">
							<h2 class="ui header">Select your patterns.</h2>
							<p class="large text">Pick patterns that you want to see applied to the products you choose. Your designer will use these patterns to create a proof for you. Don't see what you're looking for? <a class="request-design" href="#">Request a custom design!</a ></p>
						</div>
					</center>
				</div>
			</div>
		</div>
		<div class="ui header">
			<h3>Our top picks for you:</h3>
		</div>
		<div class="ui five doubling cards">
			<div class="ui link card" ng-repeat="pattern in profile.patterns | orderBy : '-relevanceScore'| limitTo: 10" ng-click="profile.togglePattern(pattern)" ng-class="{'raised yellow': pattern.selected}">
				<div class="image">
					<img src="http://placehold.it/600?text=traditional+600px">
				</div>
				<div class="content">
					<div class="description">
						{{pattern.patternName}} <i class="ui right floated  star icon" ng-class="{'yellow': pattern.selected,'empty': !pattern.selected}"></i>
					</div>
				</div>
			</div>
		</div>
		<div class="ui header">
			<h3>All patterns:</h3>
		</div>
		<div ng-repeat="(key, value) in profile.patterns | groupBy: 'category'"> 
			<h4>{{key}}</h4>
			<div class="ui five doubling cards">
				<div class="ui link card" ng ng-repeat="pattern in value" ng-click="profile.togglePattern(pattern)" ng-class="{'yellow': pattern.selected,'empty': !pattern.selected}">
					<div class="image">
						<img src="http://placehold.it/600?text=traditional+600px">
					</div>
					<div class="content">
						<div class="description">
							{{pattern.patternName}} <i class="ui right floated star icon" ng-class="{'yellow': pattern.selected,'empty': !pattern.selected}"></i>
						</div>
					</div>
				</div>
				
				<div class="ui request-design link card">
					<div class="image">
						<img src="http://placehold.it/600x500?text=traditional+600px">
					</div>
					<div class="content">
						<div class="description">
							<p>Want something else?</p>	 <a class="request-design" href="#">Request a custom design!</a>
						</div>
					</div>

				</div>
			</div>
		</div>

		<div class="clearer"></div>
		<div style="position: fixed; z-index: 1000 ; bottom: 0; padding-top: 5px; clear: both; left: 0; width: 100%;">
			<div class="ui  padded secondary segment fluid">
				<center>
					<p>Select at least 3 patterns or <a class="request-design" href="#">request a custom design</a> to continue.<br/></p>
					<div class="ui centered buttons">
						<button class="ui left labeled icon button" ui-sref="create-profile-sign-up" >
							<i class="left arrow icon"></i>
							Back
						</button>
						<button class="ui right labeled icon button" ui-sref="create-profile-select-colors" ng-class="{'primary active': profile.selectedPatternCount > 2 || profile.customRequest, 'disabled': profile.selectedPatternCount < 3 && profile.customRequest === null}" ng-click="profile.saveProfile()">
							<i class="right arrow icon"></i>
							Next
						</button>
					</div>
				</center>	
			</div>
		</div>
	

	<div class="ui modal" id="request-pattern">
		<i class="close icon"></i>
		<div class="header">
			Custom Design Request
		</div>
			<div class="content">
			<div class="description">
				<div class="ui header">Looking for something a little different?</div>
				<p>We've made a lot of patterns, but we haven't designed it all yet. If you have an idea, we can make it happen. Let us know what you have in mind!</p>
				<div class="ui form">
				  <div class="field">
				    <label>Your design ideas:</label>
				    <textarea ng-model="profile.customRequest" ng-change="profile.updateCustomRequest()"></textarea>
				  </div>
				</div>
			</div>
			</div>
		<div class="actions">
			<div id="save-design" class="ui primary right labeled icon button" ng-click="profile.updateCustomRequest()">
				Save design request
				<i class="checkmark icon"></i>
			</div>
		</div>
	</div>

	</div>

	