<div ng-controller="ProfileController as profile">
	<div class="ui grid">
		<div class="ui stackable row">
			<div class="ui sixteen wide centered column">
				<center>
					<div class="ui segment">
						<h2 class="ui header">Simple or complex?</h2>
						<p class="large text">Do you prefer patterns that are more simple or more complex?</p>
					</div>
				</center>
			</div>
		</div>
		<div class="ui row">
			<div class="ui sixteen wide centered column">
				<center>
					<input ng-model="profile.values.complexity" ng-change="profile.updateComplexity(profile.values.complexity)" type="range" min="0" max="2" step="1" style="width: 90%;">
				</center>
			</div>
		</div>
		<div class="ui three column row">
			<div class="ui column">
				<h3>Simple</h3>
			</div>
			<div class="ui column">
				<h3 align="center">In Between</h3>
			</div>
			<div class="ui column">
				<h3 align="right">Complex</h3>
			</div>
		</div>
	</div>
	<div ng-show="profile.values.complexity === null">
	<br>
		<div class="ui secondary very padded segment">
			<center>
			<i class="arrow left large icon"></i><i class="arrow right large icon"></i>
			<br>
			<br>
			<p class="large text">Move the slider to see examples</p>
			</center>
		</div>
	</div>
	<div class="ui three column grid" ng-show="profile.values.complexity == 0">
		<div class="column">
			<img class="ui fluid image" src="/images/Hummel-0099.jpg">
		</div>
		<div class="column">
			<img class="ui fluid image" src="/images/Wedding-Bow-Tie.jpg">
		</div>
		<div class="column">
			<img class="ui fluid image" src="/images/Knotty Tie Ashley Kidder Photo-22.jpg">
		</div>
	</div>
	<div class="ui three column grid" ng-show="profile.values.complexity == 1">
		<div class="column">
			<img class="ui fluid image" src="images/004-James-Kent-Wedding.png">
		</div>
		<div class="column">
			<img class="ui fluid image" src="/images/Knotty-Tie-and-Package-Detail.jpg">
		</div>
		<div class="column">
			<img class="ui fluid image" src="/images/JamieBethPhotography-221.jpg">
		</div>
	</div>
	<div class="ui three column grid" ng-show="profile.values.complexity == 2">
		<div class="column">
			<img class="ui fluid image" src="/images/Scribble-Tie-on-Box.jpg">
		</div>
		<div class="column">
			<img class="ui fluid image" src="/images/IMG_1923.jpg">
		</div>
		<div class="column">
			<img class="ui fluid image" src="/images/Knotty Tie Ashley Kidder Photo-13.jpg">
		</div>
	</div>
	<div class="clearer"></div>
	<div style="position: fixed; bottom: 0; padding-top: 5px; clear: both; left: 0; width: 100%;">
		<div class="ui  padded secondary segment fluid">
			<div class="ui container">
				<center>
					<div class="ui centered buttons">
						<button class="ui left labeled icon button" ui-sref="create-profile-playful-traditional" >
							<i class="left arrow icon"></i>
							Back
						</button>
						<button class="ui right labeled icon button" ui-sref="create-profile-sign-up" ng-click="profile.markStageCompleted()" ng-class="{'primary': profile.values.complexity || profile.values.complexity === 0, 'disabled': profile.values.complexity === null}">
							<i class="right arrow icon"></i>
							Next
						</button>
					</div>
				</center>	
			</div>
		</div>
	</div>
</div>
